<h1><%= @entries["name"] %></h1>

<ul>
  <li><%= @entries["posted_on"] %></li>
  <li><%= @entries["descrption"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p