
<h1><%= @entries["title"] %></h1>
<em><%= @entries["posted_on"] %><em>


<p> Description: <%= @entries["description"] %></p>


<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>